<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device_width, initial-scale=1.0">
    <title>Welcome to Food Truck Route Planner</title>
</head>
<body>
    <h1>Plan Your Food Truck Route: Enter a zipcode to pick boundaries</h1>
    <form method="POST">
        <input type="text" name="zipcode" placeholder="Enter Zipcode" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>